<div class="wrapper">
		<h1 class="title">Count on me!</h1>

	<div class="tab-circle">
		<div {{action "addOne"}} class="central-content">
      {{#if showTapMessage}}
        Tap Here!
      {{else}}
        {{countValue}}
      {{/if}}
		</div>
	</div>
</div>