<div class="wrapper">
		<h1 class="title">Count on me!</h1>

	<div class="tab-circle">
		<div class="central-content">
			Tab Here!
		</div>
		<button {{action "countController"}}>
			
		</button>
	</div>
</div>