<div class="wrapper">
	<h1 class="title"><p>Count</p><p>on me!</p></h1>
	<div class="tap-circle">
		<div {{action "addOne"}} class="central-content">
      {{#if showTapMessage}}
        Tap Here!
      {{else}}
        {{countValue}}
      {{/if}}
		</div>
	</div>
</div>